@(message:String, form:Form[CommentForm], data:Seq[CommentWithPost] )(implicit request: MessagesRequestHeader, flash: Flash)


@main("コメント", "コメントページ", "copyright2020") {
    <p>@flash.get("success").getOrElse(comment)</p>
    @helper.form(action=routes.CommentController.addcomment()) {
        @helper.CSRF.formField
        @helper.inputText(form("parent_postId"))
        @helper.inputText(form("text"))
        <input type="submit" value="Add Message"/>
    }
    <hr>
    <p>コメント一覧</p>
    <ul>
        @for(item<-data) {
        <li> @item.comment.text [@item.post.text]</li>
        }
    </ul>

}
