@(message:String, form:Form[CommentForm], data:Seq[CommentWithPost] )(implicit request: MessagesRequestHeader, flash: Flash)


@main("コメント", "コメントページ", "") {

    @helper.form(action=routes.CommentController.addcomment()) {
        @helper.CSRF.formField
        @helper.inputText(form("parent_postId"))
        @helper.inputText(form("text"))
        <input type="submit" value="Add Message"/>
    }

    <hr>
    <p>投稿とコメント一覧</p>
    <ul>
        @for(item<-data) {
        <li>[@item.post.text] →（@item.comment.text ）</li>
        }
    </ul>
    <a href="posts">投稿ページへ</a>

}
