@(message:String, form:Form[PostForm], data:Seq[PostWithUser] )(implicit request: MessagesRequestHeader, flash: Flash)


@main("投稿", "投稿ページ", "") {

    @helper.form(action=routes.HomeController.addpost()) {
        @helper.CSRF.formField
        @helper.inputText(form("userId"))
        @helper.inputText(form("text"))
        <input type="submit" value="Add Message"/>
    }
    <hr>
    <p>投稿一覧</p>
    <ul>
        @for(item<-data) {
        <li>[@item.user.name] @item.post.text (@item.post.id) </li><a href="comment">コメントする </a>
        }
    </ul>

    <a href="index">ユーザー</a>

}
